certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
Django==4.2.4
djangorestframework==3.14.0
dnspython==2.4.2
eventlet==0.33.3
gevent==23.9.0.post1
greenlet==2.0.2s
gunicorn==21.2.0
idna==3.4
mysqlclient==2.2.0
packaging==23.1
pycparser==2.21
pytz==2023.3
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
waitress==2.1.2
zope.event==5.0
zope.interface==6.0
